body {
    font-family: Arial, sans-serif;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color:aqua;
    border: 2px solid #cccccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  
  input {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
  }
  
  button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
